body {
    width: 100%;
    height: 100%;
    position: relative;
}

.hero {
    text-align: center;
    padding: 30px 20px 0 20px;
    background: linear-gradient(180deg, var(--accent-blue) 0%, transparent 25%);
}

.hero h1 {
    font-size: 2rem;
}

.welcome-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    width: 100%;
    max-width: 1200px; /* Limits width on huge monitors */
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

sup {
    font-size: 0.55em;
    color: var(--accent-yellow);
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    min-height: 400px;
}

.feature-card h3 {
    padding-top: 20px;
    text-align: center;
}

.feature-card p {
    text-align: center;
}

.preview-box {
    width: 100%;
    background: var(--bg-dark);
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    overflow: hidden;
}

.tag {
    position: absolute;
    background: var(--accent-blue);
    color: var(--text-dark);
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    left: 20px;
}

.feature-card:hover >.tag {
    background: var(--accent-red);
    color: var(--text-white);
}

@media (max-width: 600px) {
    .hero {
        padding: 20px 10px;
    }
    .hero h1 {
        font-size: 1.5rem;
    }
    .welcome-grid {
        grid-template-columns: 1fr; /* Stack cards vertically on phones */
        padding: 10px;
    }
}